.navbar {
  background-color: #111111;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  transition: all 0.3s ease-in-out;
  backdrop-filter: blur(10px); 
}

.navbar-brand {
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;;
  display: flex;
  align-items: center;
  gap: 8px;
}

.navbar-brand a {
  color: #fff;
  text-decoration: none;
}

.navbar-brand a:hover {
  color: #ff4757;
  transition: 0.3s ease;
  text-decoration: none;
}

.icon {
  font-size: 20px;
}

.navbar-links {
  display: flex;
  gap: 2rem;
  text-decoration: none;
}

.nav-link {
  font-size: 1rem;
  font-weight: 500;
  padding: 0.7rem 1.2rem;
  border-radius: 50px;
  color: #fff;
  text-decoration: none;
  position: relative;
  text-decoration: none;
}

.nav-link:hover {
  color: #fff;
  text-decoration: none;
}

.nav-link:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ff4757;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.nav-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


@media (max-width: 768px) {
  .navbar {
    padding: 1rem;
    justify-content: space-between;
  }

  .navbar-brand {
    font-size: 1.6rem;
  }

  .navbar-links {
    display: none; 
    flex-direction: column;
    gap: 1.5rem;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    padding: 1.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
  }

  .navbar-links.open {
    display: flex;
    transform: translateY(0);
  }

  .navbar-links.open .nav-link {
    padding: 0.8rem 1.5rem;
  }

  .nav-link {
    font-size: 1.2rem;
  }

  .burger-icon {
    font-size: 2rem;
    color: white;
    cursor: pointer;
    display: block; 
  }
}

@media (min-width: 769px) {
  .burger-icon {
    display: none; 
  }
}
